<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Error Page</title>
</head>
<body>
   <h1>Error</h1>
   <p>Your package weighs too much!</p>
</body>
</html>